<?xml version="1.0" encoding="utf-8"?>
<importer version="1.6">
	<name>Menu</name>
	<description>Import Menu Items</description>
	<group>joomlacore</group>
    <tables>
        <table name="menu" pkey="id" />
    </tables>
	<fields>
		<field type="separator" label="Overrides" />
        <field type="list" default="0" name="truncate" label="Truncate Site" description="Delete items from the database table #__menu that belong to the site and are not the root node before starting the import process">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </field>
        <field type="list" default="0" name="overwrite" label="Overwrite Existing" description="Items in the database with the same ID will be replaced">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </field>
        <field type="list" default="1" name="append" label="Append If Exists" description="If an item exists in the database with the same ID then the new item will be appended to the end">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </field>
        <field type="list" default="1" name="resetalias" label="Reset Alias" description="Reset alias and title to ensure uniqueness">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </field>
        <field type="list" default="1" name="rebuildparams" label="Rebuild Params" description="Rebuild params if found to be in the Joomla 1.5 format">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </field>
        <field type="list" default="0" name="clearparams" label="Clear Params" description="Clear params if found to be in the Joomla 1.5 format">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </field>

        <field type="separator" label="Overrides" />
		<field type="list" default="1" name="checkin" label="Checkin Items" description="Checkin any items that may have been checked out during migration creation">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>

		<field type="separator" label="Debug" />
		<field type="list" default="0" name="debug" label="Debug Run" description="No database changes will be made. Check the log for what changes would have occurred">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
		<field type="list" default="0" name="debuglevel" label="Debug Level" description="More log entries will be made for higher debug levels">
			<option value="0">Standard</option>
			<option value="1">Development</option>
		</field>
        <field type="hidden" name="globalvalues" default="menuidmap,catidmap" />
        <field type="hidden" default="1" name="runorder" />
	</fields>
</importer>
